asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
Django==5.2.13
django-prometheus==2.4.1
googleapis-common-protos==1.74.0
grpcio==1.80.0
gunicorn==25.3.0
idna==3.13
importlib_metadata==8.7.1
opentelemetry-api==1.41.1
opentelemetry-exporter-otlp==1.41.1
opentelemetry-exporter-otlp-proto-common==1.41.1
opentelemetry-exporter-otlp-proto-grpc==1.41.1
opentelemetry-exporter-otlp-proto-http==1.41.1
opentelemetry-instrumentation==0.62b1
opentelemetry-instrumentation-dbapi==0.62b1
opentelemetry-instrumentation-django==0.62b1
opentelemetry-instrumentation-psycopg2==0.62b1
opentelemetry-instrumentation-wsgi==0.62b1
opentelemetry-proto==1.41.1
opentelemetry-sdk==1.41.1
opentelemetry-semantic-conventions==0.62b1
opentelemetry-util-http==0.62b1
packaging==26.2
prometheus_client==0.25.0
protobuf==6.33.6
psycopg2-binary==2.9.12
python-dotenv==1.2.2
requests==2.33.1
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.3
wrapt==2.1.2
zipp==3.23.1